In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("datasets/tv_marketing/tvmarketing.csv")
df.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9

In [3]:
X = np.array(df["TV"],dtype=np.float64)
y = np.array(df["Sales"],dtype=np.float64)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.75)

In [5]:
def gradient_descent(x, y, m, c, alpha, num_iters):
    n = len(y)
    mse_history = np.zeros(num_iters)
    
    for i in range(num_iters):
        y_pred = m*x + c 
        mse = np.sum((y - y_pred)**2) / n
        dm = -(2/n)*np.sum(x*(y - y_pred)) 
        dc = -(2/n)*np.sum(y - y_pred)
        m = m - alpha*dm  
        c = c - alpha*dc
        
        mse_history[i] = mse
        
    return m, c, mse_history

In [6]:
m, c, mse_history = gradient_descent(X_train, y_train,0,0, 0.0001, 100)

In [7]:
print(m,c)

-6.721431959747059e+69 -3.360956558080472e+67

In [8]:
mse_history

array([2.31403800e+002, 5.48408690e+003, 1.43076909e+005, 3.74728841e+006,
       9.81587576e+007, 2.57124490e+009, 6.73531524e+010, 1.76429992e+012,
       4.62154198e+013, 1.21060201e+015, 3.17114337e+016, 8.30673518e+017,
       2.17592967e+019, 5.69979638e+020, 1.49304820e+022, 3.91100451e+023,
       1.02447840e+025, 2.68359696e+026, 7.02961888e+027, 1.84139207e+029,
       4.82348303e+030, 1.26349999e+032, 3.30970839e+033, 8.66970297e+034,
       2.27100822e+036, 5.94885240e+037, 1.55828784e+039, 4.08189820e+040,
       1.06924359e+042, 2.80085834e+043, 7.33678229e+044, 1.92185280e+046,
       5.03424802e+047, 1.31870938e+049, 3.45432808e+050, 9.04853084e+051,
       2.37024129e+053, 6.20879108e+054, 1.62637816e+056, 4.26025919e+057,
       1.11596483e+059, 2.92324353e+060, 7.65736740e+061, 2.00582931e+063,
       5.25422251e+064, 1.37633118e+066, 3.60526702e+067, 9.44391183e+068,
       2.47381040e+070, 6.48008793e+071, 1.69744373e+073, 4.44641377e+074,
       1.16472759e+076, 3.05097641e+077, 7.99196067e+078, 2.09347522e+080,
       5.48380892e+081, 1.43647080e+083, 3.76280133e+084, 9.85656923e+085,
       2.58190503e+087, 6.76323927e+088, 1.77161456e+090, 4.64070249e+091,
       1.21562106e+093, 3.18429066e+094, 8.34117419e+095, 2.18495088e+097,
       5.72342724e+098, 1.49923825e+100, 3.92721919e+101, 1.02872579e+103,
       2.69472292e+104, 7.05876307e+105, 1.84902632e+107, 4.84348077e+108,
       1.26873835e+110, 3.32343015e+111, 8.70564680e+112, 2.28042362e+114,
       5.97351583e+115, 1.56474837e+117, 4.09882139e+118, 1.07367659e+120,
       2.81247046e+121, 7.36719996e+122, 1.92982063e+124, 5.05511958e+125,
       1.32417664e+127, 3.46864943e+128, 9.08604527e+129, 2.38006810e+131,
       6.23453219e+132, 1.63312098e+134, 4.27792186e+135, 1.12059153e+137,
       2.93536305e+138, 7.68911418e+139, 2.01414530e+141, 5.27600606e+142])